@import url("../../styles/panchang.css");

.splash h1 {
	font-family: "Panchang-Variable";
}

.splash {
	height: 100vh;
	margin: 0rem;
	overflow: hidden;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #00f;
}

.splash h1,
.splash h2,
.splash p {
	font-size: 2rem;
	color: #fff;
}

.splash h1 {
	font-size: 9rem;
	padding-bottom: 2.5rem;
	padding-top: 20%;
}

.splash h2 {
	font-size: 5rem;
	padding-bottom: 8rem;
}

h2 {
	transition: opacity 0.5s ease-in-out;
}

#scroll-down-animation {
	position: absolute;
	bottom: -18%;
	left: 50%;
	scale: 0.5;
	transform: translate(-50%, -50%);
}

h2.scroll {
	color: white;
	font-weight: 200;
	font-size: 18px;
	margin-top: 1em;
}

.mouse {
	margin: 0 auto;
	display: block;
	border-radius: 50px;
	border: 2px solid white;
	height: 100px;
	width: 50px;
	position: relative;
}

.move {
	position: absolute;
	background-color: #fff;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	left: 50%;
	transform: translateX(-50%);
	animation: move 2s linear infinite;
}

@keyframes move {
	0% {
		transform: translate(-50%, 10px);
		opacity: 0;
	}
	50% {
		transform: translate(-50%, 40px);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 80px);
		opacity: 0;
	}
}

.fade-out {
	transition: opacity 0.3s, visibility 0.3s;
	opacity: 0;
	visibility: hidden;
}
