@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("clash-display.css");
@import url("cabinet-grotesk.css");

/* general styling */
h1,
h2,
h3 {
	font-family: "ClashDisplay-Medium";
}

h3 {
	font-size: 2rem;
}

p,
li,
a {
	font-family: "CabinetGrotesk-Regular";
}

p {
	font-size: 1.5rem;
	z-index: 2;
}
#logo {
	font-family: "ClashDisplay-Bold";
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/* .splash {
	height: 100vh;
	margin: 0rem;
	overflow: hidden;

	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	50% {
		scale: 1 1.5;
	}

	to {
		rotate: 360deg;
	}
}

#blob {
	background-color: white;
	height: 300vmax;
	aspect-ratio: 1;
	position: fixed;
	left: 50%;
	top: 100%;
	translate: -50% -50%;
	border-radius: 50%;
	background: linear-gradient(
		to right,
		rgb(255, 255, 254),
		rgb(168, 150, 113),
		rgb(32, 24, 6)
	);
	animation: rotate 6s infinite;
	opacity: 0.4;
	z-index: -2;
	overflow: hidden;
}

.blur {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
} */

#logo {
	color: black;
	font-size: 1.8em;
	white-space: nowrap;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8em 1em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border: 1px solid #333;
	z-index: 2;
}

header ul {
	display: flex;
	list-style-type: none;
}

header a {
	text-decoration: none;
	border: 2px solid transparent; /* Transparent border to not have the menu options shift when active */
	border-radius: 30px;
	padding: 0.3em 0.5em;
}

header a:hover {
	box-shadow: 2.5px 2.5px 0 0 rgba(0, 0, 0, 0.2);
	border-color: #929292;
	border-radius: 30px;
}
.menu-options {
	display: flex;
}

li a {
	margin: 0 1em;
	font-size: 18px;
}

.active {
	border-color: #333;
	border-radius: 30px;
	padding: 0.3em 0.5em;
}

#nav-toggle {
	display: none;
}

.burger-menu {
	display: none;
}

.page-divider {
	margin: 5% 0%;
}

#main,
.about,
#portfolio,
#contact {
	margin: 20% 0 20% 0;
	z-index: 3;
}

footer {
	background-color: #37342f;
	color: #f6f5f4;
	border: 1px solid #333;

	padding: 5% 0 5% 0;
	z-index: 1;
	position: relative;
	margin-top: auto;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-socials li {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	list-style-type: none;
	margin: 0 1rem;
}
.footer-socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
}
.footer-socials li a {
	color: #f6f5f4;
	font-size: 2.5rem;
}
.footer-socials li a:hover {
	color: #929292;
}

@keyframes banner {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

#eegg {
	text-decoration: none;
	color: black;
}

/* landingpage styling */

.welcome {
	font-family: "ClashDisplay-bold";
	font-weight: 500;
	font-size: 12vw;
	z-index: 1;
}

.enter {
	z-index: 2;
	font-size: 1rem;
	font-family: "CabinetGrotesk-Regular";
}

.enter:hover {
	transform: scale(5) rotate(5deg);
}

/* about styling */

.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10% 0 10% 0;
}
.about-me {
	list-style-type: none;
}

img.me {
	z-index: 3;
	scale: 50%;
	width: 60vw;
	height: 60vw;
	border-radius: 50%;
	display: block;
	object-fit: cover;
	object-position: 0 10%;
	margin-left: -5%;
}

.previous {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 10%;
}

.container {
	flex: 1;
	margin: 0 1% 0 1%;
	padding: 1%;
	border: 2px solid #333;
	border-radius: 25px;
	box-shadow: 2.5px 2.5px 0 0 rgba(0, 0, 0, 0.2);
}

.container h2 {
	margin-bottom: 1.5rem;
}

.container ul {
	margin-bottom: 0.5rem;
	padding-left: 0.6rem;
}

.container li {
	margin-bottom: 0.2rem;
}

/* portfolio styling */

.portfolioProjects {
	display: flex;
	padding: 0;
	flex-direction: column-reverse;
}

.portfolioProjects li a {
	color: grey;
	font-size: 1.5rem;
	text-decoration: none;
}

.portfolioProjects a:hover {
	padding: 0em 1em;
}

.nav-toggle-label {
	display: none;
}

.modal {
	display: none;
	position: fixed;
	top: 2rem;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	opacity: 100%;
}

.modal-content {
	background-color: #fefefe;
	margin: 10% 50%;
	width: 48%;
	border: 2px solid #888;
}

:target {
	display: block;
}

.close {
	
}

.modal-content .close {
	font-size: 3rem;
	color: #aaa;
	float: right;
	font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
	color: black;
}

a.close {
	padding: 0em 0em;
	margin: 0em 0.5em;
}

.title h1 {
	padding-top: 20vw;
	text-align: center;
	font-size: 4rem;
}

.imageLink {
	width: 50%;
}

/* mobile menu */

@media (max-width: 715px) {
	.burger-menu {
		display: block;
		position: absolute;
		right: 8%;
		top: 30%;
		font-size: 25px;
		z-index: 10;
		transition: 3s;
	}

	.header-menu {
		display: flex;
		flex-direction: column;
		position: fixed;
		z-index: 10;
		left: 0;
		right: 0;
		top: 2.2rem;
		bottom: 100%;
		text-align: center;
		overflow: hidden;
		opacity: 0;
		transition: 1s;
	}

	#nav-toggle:checked ~ .header-menu {
		background-color: rgb(230, 222, 208);
		padding-top: 1em;
		font-size: 3em;
		bottom: 0;
		opacity: 1;
		visibility: visible;
	}

	.about {
		display: flex;
		flex-direction: column;
	}

	.modal-content {
		border: 2px solid #888;
		position: absolute;
		width: 90%;
		top: 15%;
		left: -45%;
	}

	.close {
		color: #aaa;
		float: right;
		font-size: 3rem;
		font-weight: bold;
	}
}
