@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("clash-display.css");
@import url("cabinet-grotesk.css");

/* general styling */

body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body li {
	color: #00f;
}

h2,
h3,
h4 {
	font-family: "ClashDisplay-Medium";
}

h3 {
	font-size: 2rem;
}

a {
	font-family: "ClashDisplay-Bold";
}

p,
li {
	font-family: "CabinetGrotesk-Regular";
}

p {
	font-size: 1.5rem;
	z-index: 2;
}
#logo {
	font-family: "ClashDisplay-Bold";
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #fcfcfc;
}
/* .splash {
	height: 20vh;
	margin: 0rem;
	overflow: hidden;

	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} */

.page-divider {
	margin: 5% 0%;
}

#portfolio,
#contact {
	margin: 20% 0 20% 0;
	z-index: 3;
}

footer {
	background-color: #37342f;
	color: #f6f5f4;
	border: 1px solid #333;

	padding: 5% 0 5% 0;
	z-index: 1;
	position: relative;
	margin-top: auto;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-socials li {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	list-style-type: none;
	margin: 0 1rem;
}
.footer-socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
}
.footer-socials li a {
	color: #f6f5f4;
	font-size: 2.5rem;
}
.footer-socials li a:hover {
	color: #929292;
}

.footer-nav p {
	color: #fcfcfc;
}

@keyframes banner {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

/* cursor
#blob {
	background-color: white;
	height: 34vmax;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 50%;
	background: linear-gradient(
		to right,
		rgb(255, 255, 254),
		rgb(168, 150, 113),
		rgb(32, 24, 6)
	);
	transition: 750ms linear;
	animation: rotate 6s infinite;
	opacity: 0.4;
	z-index: -3;
	overflow: hidden;
}

.blur {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -2;
	backdrop-filter: blur(12vmax);
}

.mouse {
	margin: 0 auto;
	display: block;
	border-radius: 50px;
	border: 2px solid #333;
	height: 100px;
	width: 50px;
	position: relative;
	z-index: 10;
}

.move {
	position: absolute;
	background-color: #333;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	left: 50%;
	transform: translateX(-50%);
	animation: move 2s linear infinite;
}

@keyframes move {
	0% {
		transform: translate(-50%, 10px);
		opacity: 0;
	}
	50% {
		transform: translate(-50%, 40px);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 80px);
		opacity: 0;
	}
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	50% {
		scale: 1 1.5;
	}

	to {
		rotate: 360deg;
	}
} */

#eegg {
	text-decoration: none;
	color: black;
}

/* landingpage styling */

.welcome {
	font-family: "ClashDisplay-Bold";
	font-weight: 500;
	font-size: 12vw;
	z-index: 1;
}

.enter {
	z-index: 2;
	font-size: 1rem;
	font-family: "CabinetGrotesk-Regular";
}

.enter:hover {
	transform: scale(5) rotate(5deg);
}

img.me {
	z-index: 3;
	scale: 50%;
	width: 60vw;
	height: 60vw;
	border-radius: 50%;
	display: block;
	object-fit: cover;
	object-position: 0 10%;
	margin-left: -5%;
}

.previous {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 10%;
}

.container {
	flex: 1;
	margin: 0 1% 0 1%;
	padding: 1%;
	border: 2px solid #333;
	border-radius: 25px;
	box-shadow: 2.5px 2.5px 0 0 rgba(0, 0, 0, 0.2);
}

.container h2 {
	margin-bottom: 1.5rem;
}

.container ul {
	margin-bottom: 0.5rem;
	padding-left: 0.6rem;
}

.container li {
	margin-bottom: 0.2rem;
}

/* portfolio styling */

.portfolioProjects {
	display: flex;
	padding: 0;
	flex-direction: column-reverse;
}

.portfolioProjects li a {
	color: grey;
	font-size: 1.5rem;
	text-decoration: none;
}

.portfolioProjects a:hover {
	padding: 0em 1em;
}

.nav-toggle-label {
	display: none;
}

/* .modal {
	display: none;
	position: fixed;
	top: 2rem;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	opacity: 100%;
}

.modal-content {
	background-color: #fefefe;
	margin: 10% 50%;
	width: 48%;
	border: 2px solid #888;
} */

:target {
	display: block;
}

/* .modal-content .close {
	font-size: 3rem;
	color: #aaa;
	float: right;
	font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
	color: black;
} */

a.close {
	padding: 0em 0em;
	margin: 0em 0.5em;
}

.title h1 {
	padding-top: 20vw;
	text-align: center;
	font-size: 4rem;
}

.imageLink {
	width: 50%;
}


