.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.contact h2 {
    font-size: 5rem;
    padding-top: 5%;
}

.contactlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
}