.skillsContainer {
  display: flex;
  flex-direction: column;
}

.skills {
	display: flex;
	overflow: hidden;
	margin-top: 2rem;
	right: 0;
	width: 100%;
}

.title {
	margin: 5% 0 0 0;
}

.card {
	flex: 0 0 auto; /* Prevents the cards from stretching to fill the container */
	margin-right: 1em; /* Adds some space between the cards */
}
